<section class="container">
    <div class="d-flex justify-content-center align-items-center contenedor">
        <div class="row p-0">
            <div class="col-sm-6 rounded-start pt-5 text-center bg-dark">
                <h2 class="f-bolder text-white">Gradie</h2>
                <p class="text-white">Beatiful gradients in seconds.</p>
                <img class="img-fluid" src="../../../assets/iPhone Mockup.png" alt="phone">
            </div>
            <div class="col-sm-6 bg-white rounded-end p-5">
                <h2 class="f-bolder">Login</h2>
                <form class="d-inline-flex flex-column">
                    <label class="pt-3 f-bold fs-5" for="input1">Email</label>
                    <input class="rounded p-2 mt-2" id="input1" type="email" id="input1" placeholder="jon@example.com">
                    <label class="pt-3 f-bold fs-5" for="input2">Password</label>
                    <input class="p-2 mt-2 rounded" id="input2" type="password" placeholder="At least 8 characters">
                    <span class="d-flex flex-row pt-3 pb-3">
                        <input class="rounded" id="input3" type="checkbox">
                        <label for="input3 "> By creating an account, you agree to the <a href="">Terms &
                                Conditions</a></label>
                    </span>
                    <button class="btn bg-dark text-white">Create an Account</button>
                </form>
            </div>
        </div>
    </div>

</section>