@media (min-width: 768px) {
    section {
        height: 100vh;
        width: 100vh;
    }
}
.contenedor {
    height: 100%; 
    width: 100%;
}
input {
    text-decoration: none;
    outline: none;
    border: 1px solid gainsboro;
}